/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family= Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900 &family=Oswald:wght@200..700&display=swap');

/*---Box sizing---*/
*{
  box-sizing: border-box;
}

/*--- Body background color ---*/
body {
  background-color: lightblue;
  font-family: "Raleway", sans-serif;
  color: black;
  text-align: left;
}

/*---- Heading ---- */
.heading {
  text-align: center;
  font-size: 2.1rem;
}

/* ----Adding css style to quiz-box ----*/
.quiz-box {
  background-color: silver;
  border-radius: 10px;
  max-width: 450px;
  max-width: 830px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 830px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 0cm;
}